POSTGRES_DB=kouun
POSTGRES_USER=kouun_admin
POSTGRES_PASSWORD=replace_with_a_long_random_password

COLLECTOR_DB_USER=kouun_collector
COLLECTOR_DB_PASSWORD=replace_with_a_different_random_password

ANALYZER_DB_USER=kouun_analyzer
ANALYZER_DB_PASSWORD=replace_with_another_random_password

APP_UID=1000
APP_GID=1000