[Unit]
Description=kouun_db job notification for %i

[Service]
Type=oneshot
User=masuday
Group=masuday
SupplementaryGroups=systemd-journal
ExecStart=/usr/bin/python3 /opt/docker/kouun_db/deploy/notify/kouun_notify.py result %i
